@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap");

// FONT FAMILY

$mainFont: "Poppins", sans-serif;
$secondaryFont: "Playfair Display", serif;

// FONT SIZES

$fsH1: 4rem;
$fsH2: 3rem;
$fsH3: 2.5rem;
$fsH4: 1.6rem;
$fsH5: 1.2rem;

$fsBody: 1.6rem;
