@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap");

// FONT FAMILY

$mainFont: "Poppins", sans-serif;
$secondaryFont: "Playfair Display", serif;

// FONT SIZES

$fsH1: 3.25rem;
$fsH2: 3rem;
$fsH3: 2.5rem;
$fsH4: 1.6rem;
$fsH5: 1.2rem;

$fsBody: 1rem;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: $secondaryFont;
  font-weight: 800;
  max-width: 0.9rem 0;
}
p {
  font-weight: 400;
  margin: 1.6rem 0;
  font-size: $fsBody;
  line-height: 1.6;
}
h1 {
  font-size: $fsH2;
  @include lg {
    font-size: $fsH1;
  }
}
h2 {
  font-size: $fsH2;
}
h3 {
  font-size: $fsH3;
}

h4 {
  font-size: $fsH4;
}

span {
  font-size: 0.95rem;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 1.5rem;
    font-weight: 800;
  }

  ul {
    display: flex;
    align-items: center;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 1.2rem;
      a {
        font-weight: 600;
      }
    }
  }
}

.hero {
  display: grid;
  @include lg {
    grid-template-columns: 2fr 1fr;
  }

  .left {
    background-image: url("https://images.unsplash.com/photo-1476984251899-8d7fdfc5c92c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    background-size: cover;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
  }
  .right {
    .box {
      padding: 2.2rem;
      background-color: white;
    }
  }
}

.blog__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.6rem;
  @include lg {
    grid-template-columns: 2fr 1fr;
  }
}

.blog {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.6rem;
  @include lg {
    grid-template-columns: 1fr 1fr;
  }
}
.post_img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  @include lg {
    height: 60vh;
  }
}
