// .card {
//   padding: 1rem;
//   &__image_container {
//     height: 400px;
//     width: 300px;
//     cursor: pointer;
//     img {
//       max-width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }
//   &__title {
//   }
//   &__date {
//   }
//   &__excerpt {
//   }
//   &__link {
//   }
// }
